i{
    color: #f8f1f1;
    padding: 1rem 0rem;
}
li{
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: transparent;
}

li:active, li:hover{
    background-image:linear-gradient(to right, #125347, #148c5c, #22b061);
}
ul{
    padding: 0;
}
.icon{
    size:2rem;
    border:none;
    color: #d9d9d9 !important;
}
