.overlay {
  position: absolute;
  z-index: 10;
  text-align: center;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  padding: 1rem;
}
.h1 {
  font-weight: 900;
  color: white;
  font-size: 3rem;
}

.h2 {
  font-weight: 700;
  color: #00b47e;
  padding: 0.5rem;
}
.overlay_link {
  font-size: 1.5rem;
  padding: 4px;
  display: flex;
  color: aliceblue;
}

.overlay_link:hover {
  color: aquamarine;
  transition: 500ms;
}
